


.overlay-text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: #fff; 
	font-size: 30px; 
	text-align: center;
}

.pink{
	color: pink;
}

.blue{
	color: lightblue;
}

h1{
	break-inside: avoid;
}
