<!--<div class="frame form-control">
    <form>
    <p>ShoppingList</p>
<label>
    <input type="checkbox" name="addProduct">
    Add Product to ShoppingList
</label>
<label>
    <input type="checkbox" name="AllProducts">
    Show all products on ShoppingList
</label>
<label>
    <input type="checkbox" name="viaShoppingLocation">
    Show products via shopping location
</label>
<label>
    <input type="checkbox" name="viaPriority">
    Show products via priority
</label>
</form>
</div>-->




<ul>
	<li>Add Product to ShoppingList</li>
	<li>Show all products on ShoppingList</li>
	<li>Show products via shopping location</li>
	<li>Show products via priority</li>
	<li>Cat food</li>
	<li>Cheese</li>
	<li>Wine</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
