

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Font Example</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap">

    <style>
        body {
            font-family: 'Gloria Hallelujah', cursive;

        }
    </style>
</head>
<body>
    <div class="overlay-text">

    <h2 class="gray">We remember it for you </h2>
<h2 >try it</h2>

    <p routerLink="/addProduct"  >Add Product to ShoppingList</p>

	<p routerLink="/allProducts" >Show all products on ShoppingList</p>
	<p routerLink="/sortedViaShoppingLocation">Show products via shopping location</p>
	<p routerLink="/sortedViaPriority">Show products via priority</p>





    </div>
</body>
