<!DOCTYPE html>
<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap">

</header>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>

<body>
  <div class="wrapper">

    <form [formGroup]="registerForm" (ngSubmit)="submit()" action="#">
      <h1>Add a product to your </h1>
      <h1 class="titel">ShoppingList</h1>
        <div class="input-field">
          <label>*Product name:</label>

        <input [class.invalid]="
        registerForm.get('productName')?.invalid &&
        (registerForm.get('productName')?.dirty ||
          registerForm.get('productName')?.touched)"  placeholder=" Which product would you like to add?" type="text" required formControlName="productName" (change)="startToFillOut()">
      <div  class="error" *ngIf="(registerForm.controls['productName'].errors  && registerForm.get('productName')?.invalid && submitted )" >
        <p>This field is required</p>
      </div>
      </div>

      <div class="input-field">
        <label>Pieces:</label>

        <input formControlName="amount" placeholder=" How many pieces of the product do you need?" type="number"  >
      </div>

      <div class="input-field">
        <label>Size in gram/ml:</label>

        <input formControlName="gramMl"  placeholder=" Would you like to specify the amount in gram or ml?" type="number" >
      </div>


      <div class="input-field">
        <label>*Priority</label>

        <select [class.invalid]="
        registerForm.get('priority')?.invalid &&
        (registerForm.get('priority')?.dirty ||
          registerForm.get('priority')?.touched)"    formControlName="priority" #selectList (change)="setValue(selectList.value)" required>
          <option  disabled selected>Select your option</option>

          <option   *ngFor="let c of priority" value="{{c.springName}}">{{c.name}}{{c.id}}</option>
        </select>

        </div>
        <div class="error"   *ngIf="registerForm.get('priority')?.invalid && registerForm.get('productName')?.pristine && submitted ">
          <p>This field is required</p>
        </div>

         


      <div class="input-field">
        <label>*Shopping location</label>

        <select [class.invalid]="
        registerForm.get('shoppingLocation')?.invalid &&
        (registerForm.get('shoppingLocation')?.dirty ||
          registerForm.get('shoppingLocation')?.touched)"  formControlName="shoppingLocation" #selectLocation (change)="setLocation(selectLocation.value)" required="supermarket|drugstore|online">
          <option value="" disabled selected>Select your option</option>

      <option *ngFor="let sl of shoppingLocations" value="{{sl.name}}">{{sl.name}}{{sl.id}}</option>    
        </select>

        <div class="error"   *ngIf="registerForm.get('shoppingLocation')?.invalid && registerForm.get('productName')?.pristine && submitted "  >
          <p>This field is required</p>
        </div>
        <span>You can later search the products after shopping location</span>
      </div>


      <div class="input-field">
        <label>Alarm:</label>
<div>
        <input [(ngModel)]="date"  id="timepicker" type="datetime-local"  [ngModelOptions]="{standalone: true}"  >
      </div>
        <span></span>
      </div>

    
      
      <button  type="submit">add product</button>
<div *ngIf=" successMessage!= null">
      <p class="success"> <strong>{{successMessage}}</strong></p>
    </div>

      <div *ngIf="errorMessage!=null && registerForm.get('productName')?.untouched" >
        <p class="error"><strong>{{errorMessage}}</strong></p>
      </div>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>


  </div>
</body>
</html>