<!DOCTYPE html>
<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap">

</header>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>

<body>
  <div class="wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="submit()" action="#">
      <h1>Add a product to your </h1>
      <h1 class="titel">ShoppingList</h1>
        <div class="input-field">
          <label>*Product name:</label>

        <input placeholder=" Which product would you like to add?" type="text" required formControlName="productName">
      </div>

      <div class="input-field">
        <label>Pieces:</label>

        <input placeholder=" How many pieces of the product do you need?" type="number"  formControlName="pieces">
      </div>

      <div class="input-field">
        <label>Size in gram/ml:</label>

        <input placeholder=" Would you like to specify the amount in gram or ml?" type="number" >
      </div>


      <div class="input-field">
        <label>*Priority</label>

        <select >
          <option value="" disabled selected>Select your option</option>


          <option>today 🚨</option>
          <option>next week 🫡</option>
          <option>next month 👍</option>
          <option value="">sometime 🏝️</option>
        </select>
        <span> You can later search the products after priority</span>
      </div>


      <div class="input-field">
        <label>*Shopping location</label>

        <select >
          <option value="" disabled selected>Select your option</option>

          <option>Supermarket 🛒</option>
          <option>Drug Store 💊</option>
          <option>Online 💻</option>
        </select>
        <span>You can later search the products after shopping location</span>
      </div>


      <div class="input-field">
        <label>Alarm:</label>
<div>
        <input id="timepicker" type="date" required>
        <input placeholder="test" type="time">
      </div>
        <span></span>
      </div>

    
      
      <button type="submit">add product</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>